In [4]:
# listando os campos de um dataframe

import pandas as pd

df = pd.read_csv('./database/jobs-and-salaries-in-data-science/jobs_in_data.csv')

print(df.columns)

Index(['work_year', 'job_title', 'job_category', 'salary_currency', 'salary',
       'salary_in_usd', 'employee_residence', 'experience_level',
       'employment_type', 'work_setting', 'company_location', 'company_size'],
      dtype='object')

In [12]:
# imprimindo os valores distintos

work_year_unique = df['work_year'].unique()

print(work_year_unique) # simplesmente imprimindo as variáveis em um ndarray
print(type(work_year_unique)) # confirmando o tipo

print('') # para imprimir uma linha em branco. poderia ser apenas print()

for year in work_year_unique: # para imprimir n vezes cada registro 
    print(year)

print(type(year))

print('') # para imprimir uma linha em branco. poderia ser apenas print()

work_year_unique_df = pd.DataFrame({'work_year_unique':work_year_unique}) # para imprimir em um dataframe
print(work_year_unique_df)
print(type(work_year_unique_df))

[2023 2022 2020 2021]
<class 'numpy.ndarray'>

2023
2022
2020
2021
<class 'numpy.int64'>

   work_year_unique
0              2023
1              2022
2              2020
3              2021
<class 'pandas.core.frame.DataFrame'>

In [16]:
# funções de agregação

soma_salario_ano = df.groupby('work_year')['salary'].sum() # somar a quantidade de 'salary' por ano, retornando uma série
print(soma_salario_ano)
print(type(soma_salario_ano))

print('')

soma_salario_ano_df = df.groupby('work_year')['salary'].sum().reset_index() # somar a quantidade de 'salary' por ano, retornando um dataframe
print(soma_salario_ano_df)
print(type(soma_salario_ano_df))

work_year
2020       7577809
2021      21531519
2022     220520034
2023    1152946903
Name: salary, dtype: int64
<class 'pandas.core.series.Series'>

   work_year      salary
0       2020     7577809
1       2021    21531519
2       2022   220520034
3       2023  1152946903
<class 'pandas.core.frame.DataFrame'>